<h2>All Historical Landmarks</h2>

<table>
  <th>Landmark</th>
  <tr>
    <% @landmarks.each do |figure| %>
      <td align="center"><a href="/figures/<%= landmark.id %>"><%= landmark.name %></a>
      <ul>
        <%landmark.titles.each do |title|%>
        <li><%=title.name%></li>
        <%end%>
      </ul>
     </tr> </td>
  <% end %>
</table>

<br>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
